a{
  text-decoration: none;
}
h1,h2{
    color: rgb(17, 17, 141);
}
.rowspacing {
  line-height:35px;
}

.tablegreenbar{
  background: rgb(147, 205, 3);
  color: white;
  width: 100%;
  padding: 8px;
  padding-top: 9px;
}
input{
  border:1px solid rgb(11, 71, 236);
  box-shadow: rgb(1, 18, 66);
}
button {
  border: none;
  color : rgba(103, 26, 148, 0.897);
  font-size: 15 px;
}
button {
  border: none;
  border-color: white;
}
.tabledesign{
  padding-bottom: 10px; 
  background-color: rgb(255, 203, 153);
  margin-left: 40%;
  width:41%;
}
.paymenttable{
margin-left: 40%;width: 30%;
}
.flowerimage{
  border-radius:50%; 
  padding : 1%;
  height:20%;
  position:absolute;
  margin-left: 5%;
}
.horizontal{
  border: 1px; 
  border-color:rgb(122,138,34);
}
.visaimage {
  width:70 ;
  height:70;
  position: relative;
  right:-170;
}
.greenbar{
  background-color:rgb(147, 205, 3);
  padding: 20px;
  width:auto;
}
h4{
  color:rgb(17,17,141);
  font-size:50px;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(147, 205, 3);
}

.refund{
  color : rgba(103, 26, 148, 0.897);
}
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none ;
  margin: 0;
}*/
.card{
  width:100%;
}
span{
  color:red;
}